body {
    background-color: #f9f9f9;
}

.card {
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-weight: bold;
    color: #007bff;
}

ul.list-group li {
    font-size: 1.1rem;
}

.btn-primary {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-primary:hover {
    background-color: #218838;
    border-color: #1e7e34;
}
header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    background-color: whitesmoke;
  }
  footer {
    background-color: #f8f9fa;
}

h6 {
    color: #2c3e50;
}

p, a {
    color: #6c757d;
}

a:hover {
    color: #007bff;
    text-decoration-line:none !important}

ul.list-unstyled {
    padding-left: 0;
}

ul.list-inline li a {
    color: #2c3e50;
    margin-right: 10px;
}

ul.list-inline li a:hover {
    color: #007bff;
}

.footer-bottom {
    margin-top: 20px;
}

@media (max-width: 768px) {
    .text-right {
        text-align: left;
    }
}
