body {
    font-family: 'Arial', sans-serif;
  }
  
  h2, h3 {
    color: #333;
  }
  
  .card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }
  
  footer {
    background-color: #f8f9fa;
    color: #6c757d;
  }
  
  .badge {
    font-size: 1rem;
  }
  header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    background-color: white;
  }
  body {
    background-color: #f8f9fa;
}

.rating i {
    font-size: 18px;
}

.card {
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
 /* Company Milestones Section */
 .milestone {
  background-color: #e9ecef;
  padding: 60px 0;
}
.milestone h5 {
  font-size: 1.5rem;
  font-weight: bold;
}
.milestone-icon {
  font-size: 2.5rem;
  color: #28a745;
  margin-bottom: 10px;
}
footer {
  background-color: #f8f9fa;
}

h6 {
  color: #2c3e50;
}

p, a {
  color: #6c757d;
}

a:hover {
  color: #007bff;
  text-decoration: none;
}

ul.list-unstyled {
  padding-left: 0;
}

ul.list-inline li a {
  color: #2c3e50;
  margin-right: 10px;
}

ul.list-inline li a:hover {
  color: #007bff;
}

.footer-bottom {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .text-right {
      text-align: left;
  }
}

